.navbar {
    background-color: $bgnav;
    border: none !important;

    .navbar-header {

        img {
            width: 110px;
            max-width: 110px;
            margin: 10px;
        }

    }
}